.container {
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  align-items: center;
  padding-top: 1%;
  margin-top: 1%;
}


.btn {
  width:15%;
  height: 3em;
  margin-top: 1em;
  margin-left: 85%;
}


